
@import url('https://fonts.googleapis.com/css2?family=Danfo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Londrina+Sketch&family=Luckiest+Guy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Londrina+Sketch&family=Luckiest+Guy&family=Rubik+Mono+One&display=swap');

/* fonts */


*{
    color: white;
    font-family: danfo;
  }


  .video-container{
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    width: 100%;
    height: 100%;
     
  }

  .video-container .video-bg {
    min-width: 100%;
    min-height: 100%;
    filter: brightness(50%);
  }

  .body{
    
    padding-bottom: 10000px;
  }