
@import url('https://fonts.googleapis.com/css2?family=Danfo&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Danfo&family=Londrina+Sketch&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Londrina+Sketch&family=Luckiest+Guy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Londrina+Sketch&family=Luckiest+Guy&family=Rubik+Mono+One&display=swap');

/* fonts */



body{


  color: white;
  font-family: danfo;
  font-size: 40px;
}







/* BACKGROUND VIDEO styling */

  
  .video-container{
    
    position: absolute;
    /* z index pushes it -1, i think the default is 0 */
    z-index: -10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* hide scroll bar for entire body */
   
    
  }


/* means where the parent is the video container and the child is the video bg */

  .video-container .video-bg {

    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    filter: brightness(50%);

  }


  .top-header{
    
    /* border:1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    /* aligns on the main axis */

    /* align-items: baseline; */
    /* alligns on the cross axis */
    padding-left: 10px;
    padding-right: 10px;

   
  }

  .right-header
  {

    /* border:1px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    

  }


  


  .Title
  {

    /* border:1px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    
 

  }







  
