
@import url('https://fonts.googleapis.com/css2?family=Danfo&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Danfo&family=Londrina+Sketch&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Londrina+Sketch&family=Luckiest+Guy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Londrina+Sketch&family=Luckiest+Guy&family=Rubik+Mono+One&display=swap');

/* fonts */



* {
box-sizing: border-box;

padding: 0px;
margin: 0;
cursor:URL ();

}



/* ------------------------------------------ */


/* ToolBar styling */

.toolBar-container {
    font-size: 30px;
    position: fixed;
    color: white;
    border: 5px solid ;
    text-align:center;
    margin:10px;
    padding: 10px;
    width: 500px;
    left: 1400px;
    
    /* pushing it from the left 1400 pixels */
    
}



/* list elements int the tool bar */

    .toolBar-container li{

        display:inline;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
        
        

    }

    /* BRST BOYS TITLE STYLING*/

    .toolBar-container .title-container{

        position: relative;
        font-family: 'Danfo';
    
    
    
    
    }










/* BACKGROUND VIDEO styling */

  
  .video-container{
    
    position: absolute;
    /* z index pushes it -1, i think the default is 0 */
    z-index: -10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* hide scroll bar for entire body */
    
    
  }


/* means where the parent is the video container and the child is the video bg */

  .video-container .video-bg {

    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    filter: brightness(50%);

  }




  
